/*
font-family: 'Acme', sans-serif;
font-family: 'Actor', sans-serif;
font-family: 'Dancing Script', cursive;
font-family: 'Source Code Pro', monospace;
*/
/* -----------------------------------------   INDEX.HTML   -------------------*/
/*---------------------------    1920px responvive 320px     -------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid black;
}

h1, h2, h3, h4 {
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    color: white;
    margin-left: 2rem;
}

p, a, li, span, legend {
    font-family: 'Acme', sans-serif;
    font-size: 1.7rem;
    color: white;
}

@media screen and (max-width: 1024px) {
    p, a, li, span {
        font-size: 1.3rem;    
    }
}

@media screen and (max-width: 480px) {
    h1, h2, h3, h4 {
        font-size: 35px;
        margin-left: 10px;
    }
    p, a, li, span {
        font-size: 1.3rem;    
    }
}

hr {
    width: 92%;
    margin: 0 auto;
}

/* ------------------------------------      HEADER    ---------------------- */

div#boxHeaderNav {
    background: #FF0000;
    max-height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0% 3rem;
    position: sticky;
    top: 0px;
    z-index: 100;
}

div#boxHeaderNav header {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

div#boxHeaderNav header .imgMenu {
    width: 80px;
    display: none;
}

div#boxHeaderNav header .imgMenu img {
    width: 100%;
}


div#boxHeaderNav header a,
div#boxHeaderNav header a:visited,
div#boxHeaderNav nav ul a,
div#boxHeaderNav nav ul a:visited {
    text-decoration: none;
    color: white;
}

div#boxHeaderNav header span.front {
    color: white;
    background: #ff0000;
}

div#boxHeaderNav nav ul {
    list-style-type: none;
    display: flex;
}

div#boxHeaderNav nav ul li {
    padding: 0 2rem;
}


footer {
    background-color: #FF0000;
    padding: 3rem;
}

@media screen and (max-width: 1024px) {
    div#boxHeaderNav header span {
        margin-right: 10%;
    }
}

@media screen and (max-width: 600px) {
    div#boxHeaderNav {
        padding: 0;
    }
    div#boxHeaderNav nav {
        display: none;
    }
    div#boxHeaderNav header {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    div#boxHeaderNav header .imgMenu {
        display: block;
        margin-right: 1rem;
    }
    div#boxHeaderNav header .imgMenu ul.menuHover ul {
        position: absolute;
        list-style-type: none;
        display: none;
        padding: 5px 0;
        margin: 5px 0;
        right: 5px;
    }
    div#boxHeaderNav header .imgMenu ul.menuHover li:hover ul {
        display: block;
        background-color: #FF0000;
    }
}

@media screen and (max-width: 1024px) {
    div#boxHeaderNav header span {
        margin: 0%;
    }
}

@media screen and (max-width: 320px) {
    div#boxHeaderNav h1,
    div#boxHeaderNav h2 {
        font-size: 25px;
    }
    div#boxHeaderNav header span.front {
        padding: 8px 2px;
    }
    div#boxHeaderNav header .imgMenu {
        width: 50px;
    }
}


/* ---------------------------Section FrontPage---------------------- */
#sectionFrontPage {
    background-color: #175F7E;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    overflow: hidden
}

#sectionFrontPage h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 4rem;
    color: white;
    margin-left: 4rem;
}

#sectionFrontPage h3 {
    font-family: 'Dancing Script', cursive;
    font-weight: bolder;
    font-size: 3rem;
    margin: 3rem 0 0 10rem;
}

#sectionFrontPage h4 {
    font-family: 'Dancing Script', cursive;
    font-weight: bolder;
    display: block;
    width: 300px;
    margin: 2rem auto 4rem;
    font-size: 30px;
}

#sectionFrontPage div.boxImageFP {
    padding: 2rem;
    display: grid;
    grid-template-areas: 
    "boxImageFP1 boxImageFP2 boxImageFP2";
    grid-template-columns: 1fr 2fr 2fr;
    column-gap: 15px;
    justify-items: center;
}

#sectionFrontPage div.boxImageFP1 {
    width: 450px;
    margin-top: 100px;
    grid-area: boxImageFP1;
}

#sectionFrontPage div.boxImageFP1 img {
    width: 100%;
    border-radius: 15px;
}

#sectionFrontPage div.boxImageFP2 {
    height: 550px;
    grid-area: boxImageFP2;
}

#sectionFrontPage div.boxImageFP2 img {
    height: 100%;
    border-radius: 15px;
}

@media screen and (max-width: 1400px) {
    #sectionFrontPage div.boxImageFP1 {
        width: 350px;
    }
    #sectionFrontPage div.boxImageFP2 {
        height: 400px;
    }    
}

@media screen and (max-width: 1024px) {
    #sectionFrontPage div.boxImageFP1 {
        width: 250px;
    }
    #sectionFrontPage div.boxImageFP2 {
        height: 300px;
    }    
}

@media screen and (max-width: 600px) {
    #sectionFrontPage div.boxImageFP {
        padding: 2rem;
        display: grid;
        grid-template-areas: 
        "boxImageFP1"
        "boxImageFP2";
        grid-template-columns: 100%;
        row-gap: 15px;
        justify-items: center;
    }
    #sectionFrontPage div.boxImageFP1 {
        margin-top: 10px;
        width: 310px;
    }
    #sectionFrontPage h2 {
        font-size: 3.5rem;
        text-align: center;
        margin: 0;
    }
    #sectionFrontPage h3 {
        font-size: 3rem;
        text-align: center;
        margin: 0;
    }
    #sectionFrontPage h4 {
        width: 300px;
        font-size: 30px;
        text-align: center;
    }
    #sectionFrontPage div.boxImageFP1 img {
        border-radius: 0px;
    }
    #sectionFrontPage div.boxImageFP2 img {
        border-radius: 0px;
    }
}

@media screen and (max-width: 500px) {
    #sectionFrontPage div.boxImageFP2 {
        display: none;
    }
}

@media screen and (max-width: 320px) {
    #sectionFrontPage div.boxImageFP1 {
        width: 320px;
        margin-top: 0;
    }
    #sectionFrontPage div.boxImageFP2 {
        display: none;
    }
    #sectionFrontPage h4 {
        width: 240px;
    }
}

/* ------------------------Section Craft------------------------ */

#sectionCraft {
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    background-color: #D88F82;
}

#sectionCraft div.boxImageCraft {
    width: 800px;
    margin-left: 2rem;
}

#sectionCraft div.boxImageCraft img {
    width: 100%;
    border-radius: 15px;
}

#sectionCraft div.boxTextCraft {
    width: 700px;
    margin-right: 2rem;
}

#sectionCraft h4 {
    margin: 1rem 0 2rem;
    padding-left: 2rem;
}

#sectionCraft p {
    text-align: justify;
    line-height: 2.5rem;
}

#sectionCraft a {
    display: block;
    width: 400px;
    text-decoration: none;
    margin: 4rem auto 0;
}

@media screen and (max-width: 1400px) {
    #sectionCraft div.boxImageCraft {
        width: 600px;
    }
    #sectionCraft div.boxTextCraft {
        width: 500px;
    }
}

@media screen and (max-width: 1024px) {
    #sectionCraft {
        padding: 3rem;
    }
    #sectionCraft div.boxImageCraft {
        width: 450px;
        display: flex;
        align-items: center;
    }
    #sectionCraft div.boxTextCraft {
        width: 380px;
    }
}

@media screen and (max-width: 600px) {
    #sectionCraft {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    #sectionCraft div.boxImageCraft {
        width: fit-content;
        margin: 0;
    }
    #sectionCraft div.boxImageCraft img {
        border-radius: 0px;
    }
    #sectionCraft div.boxTextCraft {
        width: 90%;
        margin: 2rem 0;
    }
    #sectionCraft h3, #sectionCraft h4 {
        text-align: center;
        margin: 1rem 0;
    }
    #sectionCraft p {
        text-align: justify;
        margin-top: 3rem;
    }
    #sectionCraft a {
        display: block;
        width: auto;
        text-decoration: none;
        text-align: center;
    }
}

/* ----------------------------     Section BestSellers    ---------------- */

#sectionBestSellers {
    padding: 3rem;
    display: none;
}

/* ----------------------------     Section Delivery    ---------------- */

#sectionDelivery {
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    background-color: white;
}

#sectionDelivery h3 {
    margin-left: 2rem;
    color: #D88F82;
}

#sectionDelivery div.boxTextDelivery {
    width: 60%;
}

#sectionDelivery div.boxTextDelivery span {
    display: block;
    /* width: auto; */
    color: #D88F82;
}

#sectionDelivery button.buttonDelivery {
    margin: 3rem 0 3rem 6rem;
}

#sectionDelivery div.boxTextDelivery a {
    text-align: center;
    text-decoration: none;
}

#sectionDelivery div.boxTextDelivery span.textMoved1 {
    margin-top: 2rem;
    margin-left: 4rem;
}

#sectionDelivery div.boxTextDelivery span.textMoved2 {
    margin-top: 1rem;
    text-align: center;
}

#sectionDelivery div.boxTextDelivery span.textMoved3 {
    margin-top: 1rem;
    text-align: right;
    margin-right: 6rem;
}

#sectionDelivery div.boxTextDelivery span.textMoved4 {
    margin-top: 2rem;
    text-align: center;
}

#sectionDelivery div.boxTextDelivery span.textMoved5 {
    margin-top: 1rem;
    text-align: right;
    margin-right: 8rem;
}

#sectionDelivery div.boxTextDelivery span.textMoved6 {
    margin-top: 2rem;
    margin-left: 8rem;
}

#sectionDelivery div.boxTextDelivery span.textMoved7 {
    margin-top: 1rem;
    text-align: center;
    margin-left: 10rem;
}

#sectionDelivery div.boxImageDelivery {
    width: 45%;
    display: flex;
    align-items: center;
}

#sectionDelivery div.boxImageDelivery img {
    width: 100%;
}

@media screen and (max-width: 1024px) {
    #sectionDelivery div.boxTextDelivery {
        width: 60%;
    }
    #sectionDelivery div.boxImageDelivery {
        width: 400px;
        padding-top: 3rem;
    }
    #sectionDelivery div.boxTextDelivery span.textMoved1 {
        margin-top: 2rem;
        margin-left: 1rem;
    }
    
    #sectionDelivery div.boxTextDelivery span.textMoved2 {
        margin-top: 1rem;
        text-align: center;
    }
    
    #sectionDelivery div.boxTextDelivery span.textMoved3 {
        margin-top: 1rem;
        text-align: right;
        margin-right: 4rem;
    }
    
    #sectionDelivery div.boxTextDelivery span.textMoved4 {
        margin-top: 2rem;
        text-align: center;
    }
    
    #sectionDelivery div.boxTextDelivery span.textMoved5 {
        margin-top: 1rem;
        text-align: right;
        margin-right: 3rem;
    }
    
    #sectionDelivery div.boxTextDelivery span.textMoved6 {
        margin-top: 2rem;
        margin-left: 3.5rem;
    }
    
    #sectionDelivery div.boxTextDelivery span.textMoved7 {
        margin-top: 1rem;
        margin-left: 6rem;
    }
}

@media screen and (max-width: 600px) {
    #sectionDelivery {
        width: 100%;
        padding: 3rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #sectionDelivery div.boxTextDelivery {
        width: 100%;
    }
    #sectionDelivery div.boxImageDelivery {
        width: 100%;
        padding-top: 3rem;
    }
    #sectionDelivery div.boxTextDelivery h3 {
        text-align: center;
    }
}

/* ----------------------------     Section Contact Us    ---------------- */
#sectionContactUs {
    background-color: #175F7E;
    padding: 3rem 3rem 3rem 3rem;
    display: flex;
}

#sectionContactUs div.boxTextContactUs {
    width: 25%;
    /* align-self: center; */
    justify-self: center;
}

#sectionContactUs div.boxTextContactUs h4 {
    padding: 3rem 0;
}

#sectionContactUs div.boxTextContactUs a {
    text-decoration: none;
    text-align: center;
    color: #175F7E;
}

#sectionContactUs div.boxTextContactUs button.buttonContactUs {
    width: 190px;
    color: #090909;
    padding: 0.5rem 1.5rem;
    font-size: 18px;
    border-radius: 0.5rem;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
    margin-left: 6rem;
}

#sectionContactUs div.boxTextContactUs button.buttonContactUs:hover {
    border: 1px solid white;
}

#sectionContactUs div.boxTextContactUs button.buttonContactUs:active {
    box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
}

#sectionContactUs div.boxImageContactUs {
    width: 80%;
    height: auto;
    padding: 0 0 0 2rem;
    display: grid;
    grid-template-areas:
    "boxImage1 boxImage2"
    "boxImage1 boxImage3";
    grid-template-columns: 1fr 2fr;
    gap: 15px;
}

#sectionContactUs div.boxImageContactUs div.boxImage1 {
    grid-area: boxImage1;
    display: flex;
    align-items: center;
    width: auto;
}

#sectionContactUs div.boxImageContactUs div.boxImage1 img {
    width: 100%;
    border-radius: 15px;
}

#sectionContactUs div.boxImageContactUs div.boxImage2 {
    grid-area: boxImage2;
    width: 700px;
}

#sectionContactUs div.boxImageContactUs div.boxImage2 img {
    width: 100%;
    border-radius: 15px;
}

#sectionContactUs div.boxImageContactUs div.boxImage3 {
    grid-area: boxImage3;
    width: 850px;
}

#sectionContactUs div.boxImageContactUs div.boxImage3 img {
    width: 100%;
    border-radius: 15px;
}

@media screen and (max-width: 1400px) {
    #sectionContactUs div.boxImageContactUs div.boxImage2 {
        grid-area: boxImage2;
        width: 500px;
    }
    #sectionContactUs div.boxImageContactUs div.boxImage3 {
        grid-area: boxImage3;
        width: 600px;
    }
    #sectionContactUs div.boxTextContactUs button.buttonContactUs {
        margin-left: 4rem;
    }
}

@media screen and (max-width: 1024px) {
    #sectionContactUs div.boxTextContactUs {
        width: 30%;
    }
    #sectionContactUs div.boxTextContactUs h4 {
        margin-left: 0;
        text-align: center;
    }
    #sectionContactUs div.boxImageContactUs div.boxImage2 {
        grid-area: boxImage2;
        width: 350px;
    }
    #sectionContactUs div.boxImageContactUs div.boxImage3 {
        grid-area: boxImage3;
        width: 400px;
    }
    #sectionContactUs div.boxTextContactUs button.buttonContactUs {
        margin-left: 2rem;
    }
}

@media screen and (max-width: 600px) {
    #sectionContactUs {
        padding: 3rem 2rem 3rem 2rem;
        flex-direction: column;
    }
    #sectionContactUs div.boxTextContactUs{ 
        width: 100%;
    }
    #sectionContactUs div.boxTextContactUs button.buttonContactUs {
        margin-left: 30%;
        margin-bottom: 3rem;
    }
    #sectionContactUs div.boxTextContactUs h3,
    #sectionContactUs div.boxTextContactUs h4,
    #sectionContactUs div.boxTextContactUs a {
        text-align: center;
    }
    #sectionContactUs div.boxImageContactUs {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-areas:
        "boxImage1 boxImage1"
        "boxImage2 boxImage2"
        "boxImage3 boxImage3";
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto auto;
        row-gap: 15px;
        padding: 0;
        justify-content: center;
    }
    #sectionContactUs div.boxImageContactUs div.boxImage1 {
        width: 400px;
        justify-self: center;
    }
    
    #sectionContactUs div.boxImageContactUs div.boxImage1 img {
        height: 100%;
        border-radius: 0px;
    }
    #sectionContactUs div.boxImageContactUs div.boxImage2 {
        width: 100%;
        justify-self: center;
    }
    #sectionContactUs div.boxImageContactUs div.boxImage2 img {
        border-radius: 0px;
    }
    #sectionContactUs div.boxImageContactUs div.boxImage3 {
        width: 100%;
        justify-self: center;
    }
    #sectionContactUs div.boxImageContactUs div.boxImage3 img {
        border-radius: 0px;
    }
}

@media screen and (max-width: 320px) {
    #sectionContactUs {
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        margin: 0%;
    }
    #sectionContactUs div.boxTextContactUs button.buttonContactUs {
        margin-left: 20%;
    }
    #sectionContactUs div.boxImageContactUs div.boxImage1 {
        width: 310px;
    }
    #sectionContactUs div.boxImageContactUs div.boxImage1 img {
        width: 100%;
    }
    #sectionContactUs div.boxImageContactUs div.boxImage2 {
        width: 310px;
    }
    #sectionContactUs div.boxImageContactUs div.boxImage2 img {
        width: 100%;
    }
    #sectionContactUs div.boxImageContactUs div.boxImage3 {
        width: 310px;
    }
    #sectionContactUs div.boxImageContactUs div.boxImage3 img {
        width: 100%;
    }
}

/* ---------------------------------   FOOTER     ------------------- */

#footerNavBar ul {
    display: flex;
    justify-content: space-between;
}

#footerNavBar ul li {
    list-style-type: none;
    padding: 1rem 3rem;
}

#footerNavBar ul li a {
    text-decoration: none;
}

#boxFooter {
    display: flex;
    justify-content: space-between;
    padding: 3rem 3rem;
    align-items: center;
}

#boxFooter div.boxTextFooter1 {
    width: 400px;
}

#boxFooter div.boxTextFooter2 {
    width: 400px;
}

#boxFooter div.boxTextFooter2 a h2 {
    text-align: center;
    margin: 0%;
}

#boxFooter div.boxTextFooter3 {
    width: 400px;
    text-align: right;
}

#boxFooter div a {
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    #footerNavBar ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #footerNavBar ul li {
        padding: 0.5rem 3rem;
    }
    #boxFooter {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #boxFooter div.boxTextFooter1 {
        width: 100%;
    }
    #boxFooter div.boxTextFooter2 {
        width: 100%;
    }
    #boxFooter div.boxTextFooter3 {
        width: 100%;
        text-align: center;
    }
    #boxFooter h2 {
        margin: 0;
        padding: 2rem 0;
    }
}

@media screen and (max-width: 320px) {
    #boxFooter {
        padding: 0.5rem 0%;
    }
    #boxFooter div.boxTextFooter1 p {
        text-align: center;
    }
    #boxFooter div.boxTextFooter3 {
        text-align: center;
    }
}


/* -----------------------------------------   PRODUCTOS.HTML   -------------------*/
/* -----------------------------------------   PRODUCTOS.HTML   -------------------*/
#mainProducts {
    padding: 4rem;
    background-color: #FF0000;
}

#mainProducts h1 {
    text-align: center;
    font-weight: bolder;
    margin-bottom: 4rem;
}

#mainProducts .boxImage {
    width: 100%;
    text-align: center;
}

#mainProducts .boxImage img {
    width: 100%;
}

#sectionProducts {
    display: none;
    padding: 4rem;
    background-color: #FF0000;
}

#sectionProducts h2 {
    text-align: center;
    margin-bottom: 4rem;
    margin-left: 0%;
}

/*Probando Grid---Armada y distribuida a modo de prueba, tengo que rearmarla y volver a probar con template-area que no me salio :(*/
#sectionProducts div.grid {
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(15, 1fr);
    gap: 20px;
    /* display: none; */
}

div.grid div.gridBox {
    border: 5px hidden #530000;
    box-shadow: 0 0 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #FF0000;
}

div.grid div.gridBox img {
    object-fit: scale-down;
    width: 100%;
    height: 100%;
    border-color: black;
}

div.grid div.img1 {
    grid-column: 1;
    grid-row: 1/7;
}

div.grid div.img2 {
    grid-column: 2;
    grid-row: 1/6;
}

div.grid div.img3 {
    grid-column: 3;
    grid-row: 1/10;
    flex-direction: column;
    justify-content: space-around;
}

div.grid div.img4 {
    grid-column: 4;
    grid-row: 1/16;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

div.grid div.img5 {
    grid-column: 1;
    grid-row: 7/12;
}

div.grid div.img6 {
    grid-column: 2;
    grid-row: 6/12;
}

div.grid div.img7 {
    grid-column: 3;
    grid-row: 10/16;
}

div.grid div.img8 {
    grid-column: 1/3;
    grid-row: 12/16;
}

/* -----------------------------------------   CONTACTO.HTML   -------------------*/
/* -----------------------------------------   CONTACTO.HTML   -------------------*/
#mainContact {
    background-color: #D88F82;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#mainContact h1 {
    color: #ffffff;
    text-align: center;
    margin: 0;
}

#mainContact legend {
    text-align: right;
    margin-bottom: 1rem;
}

#mainContact form {
    border: 2px solid #ffffff;
    max-width: 768px;
    background-color: #D88F82;
    margin: 0px auto;
    padding: 3rem;
}

#mainContact input {
    line-height: normal;
}

#mainContact textarea {
    overflow: auto;
    line-height: 150%;
    height: 150px;
    resize: none;
}

#mainContact .email {
    float: right;
    width: 45%;
}

#mainContact .telephone {
    float: left;
    width: 45%;
}

#mainContact .message {
	float: none;
}

::placeholder {
    color: #ffffff;
}

#mainContact .checkbox {
    color: #ffffff;
}

#mainContact strong {
    color: #ffffff;
}

#mainContact input[type='text'],
#mainContact input[type='email'],
#mainContact input[type='tel'],
select,
textarea {
	background: #D88F82;
    border: none;
	border-bottom: solid 2px #ffffff;
	color: #ffffff;
	font-size: 1rem;
    font-weight: 400;
    letter-spacing: 1px;
	margin: 0.5rem 0 1rem 0;
	padding: 0.3rem 0 0.3rem 0;
    text-transform: uppercase;
	width: 100%;
}

#mainContact input[type='submit'], 
#mainContact input[type='reset'] {
    background: none;
    font-size: 1rem;
    border-color: #ffffff;
    border-radius: 8px;
    width: 25%;
    color: #ffffff;
    margin-top: 1rem;
}

@media screen and (max-width: 420px) {
    #contact_form {
        display: flex;
        flex-direction: column;
    }
    #mainContact legend {
        text-align: center;
        margin-bottom: 1rem;
    }
    #mainContact .email {
        width: 100%;
    }
    #mainContact .telephone {
        width: 100%;
    }
}


/* ---------Aplicar estos efectos al form----------------------- */
/* From uiverse.io by @alexruix */
/* .input-group {
    position: relative;
    background-color: #FF0000;
}

.input_nano {
    border: solid 1.5px #9e9e9e;
    border-radius: 1rem;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    color: #f5f5f5;
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
}

.user-label_nano {
    position: absolute;
    left: 15px;
    color: #e8e8e8;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4,0,0.2,1);
}

.input_nano:focus, input:valid {
    outline: none;
    border: 1.5px solid #1a73e8;
}

.input_nano:focus ~ label, input:valid ~ label {
    transform: translateY(-50%) scale(0.8);
    background-color: #212121;
    padding: 0 .2em;
    color: #2196f3;
} */

/* -----------------------------------------   LOGIN.HTML   -------------------*/
/* -----------------------------------------   LOGIN.HTML   -------------------*/
#mainLogin {
    background-color: #D88F82;
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 850px;
}

#mainLogin h1 {
    text-align: center;
}

#login_form legend {
    text-align: right;
    margin-bottom: 1rem;
}

#login_form {
    border: 2px solid #ffffff;
    max-width: 768px;
    background-color: #D88F82;
    margin: 0px auto;
    padding: 3rem;
}

#login_form input {
    line-height: normal;
}

#login_form .username {
    width: 45%;
    margin-bottom: 2rem;
}

#login_form .passw {
    width: 45%;
    margin-bottom: 1rem;
}

#login_form .checkbox {
    color: #ffffff;
    width: 45%;
    margin-bottom: 3rem;
}

#login_form input[type='submit'] {
    background: none;
    font-size: 1rem;
    border-color: #ffffff;
    border-radius: 8px;
    width: 50%;
    color: #ffffff;
    margin-top: 3rem;
}

#login_form input[type='email'],
#login_form input[type='password'] {
	background: #D88F82;
    border: none;
	border-bottom: solid 2px #ffffff;
	color: #ffffff;
	font-size: 1rem;
    font-weight: 400;
    letter-spacing: 1px;
	margin: 0.5rem 0 1rem 0;
	padding: 0.3rem 0 0.3rem 0;
    text-transform: uppercase;
	width: 100%;
}

@media  screen and (max-width: 1400px) {
    #mainLogin {
        height: 530px;
    }
}

@media screen and (max-width: 600px) {
    #login_form legend {
        text-align: center;
    }
    #login_form .username {
        width: 100%;
    }
    #login_form .passw {
        width: 100%;
    }
    #login_form .checkbox {
        width: 180px;
        text-align: center;
        margin: 0 auto;
    }
    #login_form div.submit {
        text-align: center;
    }
}

/* ----------------------------------------------------------------------- */
/*---------------------------------- From uiverse.io ----------------------*/
button {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    touch-action: manipulation;
}
.shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(to left, hsl(340deg 100% 16%) 0%, hsl(340deg 100% 32%) 8%, hsl(340deg 100% 32%) 92%, hsl(340deg 100% 16%) 100%);
}

.front {
    display: block;
    position: relative;
    padding: 8px 2px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: #ff0000;
    will-change: transform;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

button:hover {
    filter: brightness(110%);
}

button:hover .front {
    transform: translateY(-6px);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

button:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
}

button:hover .shadow {
    transform: translateY(4px);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

button:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}

button:focus:not(:focus-visible) {
    outline: none;
}