/*
font-family: 'Acme', sans-serif;
font-family: 'Actor', sans-serif;
font-family: 'Dancing Script', cursive;
font-family: 'Source Code Pro', monospace;
*/
/* -----------------------------------------   INDEX.HTML   -------------------*/
/*--------GRAL-------------------    1920px responvive 320px     -------------------*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

h1, h2, h3, h4 {
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    color: white;
    margin-left: 2rem;
}

p, a, li, span, legend {
    font-family: 'Acme', sans-serif;
    font-size: 1.7rem;
    color: #ffffff;
}

img, .card {
    border-radius: 10px;
    border: 0;
}

hr {
    width: 92%;
    margin: 0 auto;
}


header h1:hover,
header h2:hover,
footer h2:hover,
a:hover {
    font-weight: bold;
}


/* ------------------------------------      HEADER    ---------------------- */

#boxHeaderNav {
    width: 100%;
    height: 150px;
    background: #FF0000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0% 3rem;
    position: sticky;
    top: 0px;
    z-index: 100;
}

#boxHeaderNav header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

header .boxLogo {
    width: 200px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .boxLogo h1,
header .boxLogo h2 {
    width: 170px;
    padding: 0%;
    margin: auto;
    text-align: center;
}

#boxHeaderNav nav {
    padding: 0;
}

#boxHeaderNav nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    margin: 0;
}

#boxHeaderNav nav ul li {
    padding: 0 2rem;
}

#boxHeaderNav header a,
#boxHeaderNav header a:visited,
#boxHeaderNav nav ul a,
#boxHeaderNav nav ul a:visited {
    text-decoration: none;
    color: white;
}

#boxHeaderNav header span.front {
    color: white;
    background: #ff0000;
}

/* -------------------------- Estilado Menu Hamb -------------------- */

#boxHeaderNav #menu {
    display: none;
    z-index: 2;
}

#menu-bar {
    width: 45px;
    height: 30px;
    margin: 30px 0px 20px 80px;
    cursor: pointer;
    background-color: #ff0000 ;
}

.bar {
    height: 5px;
    width: 100%;
    background-color: #ffffff;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}

#bar1 {
    transform: translateY(-5px);
}

#bar3 {
    transform: translateY(5px);
}

.nav {
    transition: 0.3s ease;
    display: none;
}

.nav ul {
    padding: 0 22px;
}

.nav li {
    list-style: none;
    padding: 12px 0;
}

.nav li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.nav li a:hover {
    font-weight: bold;
}

#menu-bg, #menu {
    position: absolute;
    top: 25px;
    right: 20px;
}

.menu-bg {
    z-index: 1;
    width: 0;
    height: 0;
    margin: 40px 20px 20px 0px;
    background: radial-gradient(circle, #ff0000, #ff0000);
    border-radius: 50%;
    transition: 0.3s ease;
}

.change {
    display: block;
}

.change .bar {
    background-color: #ffffff;
}

.change #bar1 {
    transform: translateY(4px) rotateZ(45deg);
}

.change #bar2 {
    opacity: 0;
}

.change #bar3 {
    transform: translateY(-5px) rotateZ(-45deg);
}

.change-bg {
    width: 520px;
    height: 480px;
    transform: translate(65%, -23%);
}

/* ----------------------------- MediasQueries---Header --------------- */

@media screen and (max-width: 1074px) {
    p, a, li, span {
        font-size: 1.5rem;    
    }
}

@media screen and (max-width: 1011px) {
    header .pedirAhora .front a {
        font-size: 1.3rem;
    }
    header #navIndex ul li {
        padding: 0 1.5rem;
    }
}

@media screen and (max-width: 950px) {
    header nav {
        display: none;
    }
    header .pedirAhora {
        margin-right: 3rem;
    }
    #boxHeaderNav #menu {
        display: block;
    }
}

@media screen and (max-width: 470px) {
    #boxHeaderNav {
        padding-left: 0%;
    }
    h1, h2, h3, h4 {
        font-size: 35px;
        margin-left: 0px;
    }
    p, a, li, span {
        font-size: 1.1rem;    
    }
}

@media screen and (max-width: 410px) {
    #boxHeaderNav h1,
    #boxHeaderNav h2 {
        font-size: 25px;
    }
    header .pedirAhora .front a {
        font-size: 16px;
    }
    header .boxLogo {
        width: 130px;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    header .boxLogo h1,
    header .boxLogo h2 {
        width: 120px;
    }
}



/* @media screen and (max-width: 410px) {
    header div.boxHeaderNav h1,
    header div.boxHeaderNav h2 {
        font-size: 20px;
        width: max-content;
    }
    header div.boxHeaderNav a {
        font-size: 0.9rem;    
    }
} */


/* @media screen and (max-width: 1024px) {
    #boxHeaderNav header span {
        margin-right: 10%;
        margin: 0%;
    }
} */

/* @media screen and (max-width: 940px) {
    #boxHeaderNav nav {
        display: none;
    }
    #boxHeaderNav header {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    #boxHeaderNav {
        padding: 0;
    }
} */


/* @media screen and (max-width: 320px) {
    div#boxHeaderNav h1,
    div#boxHeaderNav h2 {
        font-size: 25px;
    }
    div#boxHeaderNav header span.front {
        padding: 8px 2px;
    }
    div#boxHeaderNav header button span a {
        font-size: 1rem;
    }
} */


/* ---------------------------Section FrontPage---------------------- */
#sectionFrontPage {
    background-color: #175F7E;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    overflow: hidden
}

#sectionFrontPage h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 4rem;
    color: white;
    margin-left: 4rem;
}

#sectionFrontPage h3 {
    font-family: 'Dancing Script', cursive;
    font-weight: bolder;
    font-size: 3rem;
    margin: 3rem 0 0 10rem;
}

#sectionFrontPage h4 {
    font-family: 'Dancing Script', cursive;
    font-weight: bolder;
    display: block;
    width: 300px;
    margin: 2rem auto 4rem;
    font-size: 30px;
}

/* -------------------------------    Media Queries FrontPage ---------------------*/

@media screen and (max-width: 825px) {
    #sectionFrontPage h2,
    #sectionFrontPage h3,
    #sectionFrontPage h4 {
        text-align: center;
        margin: 3rem 0%;
    }
}



/* #sectionFrontPage div.boxImageFP {
    padding: 2rem;
}

#sectionFrontPage div.boxImageFP1 {
    width: 550px;
    margin-top: 100px;
}

#sectionFrontPage div.boxImageFP1 img {
    width: 100%;
    border-radius: 15px;
}

#sectionFrontPage div.boxImageFP2 {
    width: 860px;
    height: 440px;
}

#sectionFrontPage div.boxImageFP2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
} */

/* @media screen and (max-width: 1400px) {
    #sectionFrontPage div.boxImageFP1 {
        width: 350px;
    }
    #sectionFrontPage div.boxImageFP2 {
        height: 400px;
    }    
}

@media screen and (max-width: 1024px) {
    #sectionFrontPage div.boxImageFP1 {
        width: 250px;
    }
    #sectionFrontPage div.boxImageFP2 {
        height: 300px;
    }    
}

@media screen and (max-width: 600px) {
    #sectionFrontPage div.boxImageFP {
        padding: 2rem;
        display: grid;
        grid-template-areas: 
        "boxImageFP1"
        "boxImageFP2";
        grid-template-columns: 100%;
        row-gap: 15px;
        justify-items: center;
    }
    #sectionFrontPage div.boxImageFP1 {
        margin-top: 10px;
        width: 310px;
    }
    #sectionFrontPage h2 {
        font-size: 3.5rem;
        text-align: center;
        margin: 0;
    }
    #sectionFrontPage h3 {
        font-size: 3rem;
        text-align: center;
        margin: 0;
    }
    #sectionFrontPage h4 {
        width: 300px;
        font-size: 30px;
        text-align: center;
    }
    #sectionFrontPage div.boxImageFP1 img {
        border-radius: 0px;
    }
    #sectionFrontPage div.boxImageFP2 img {
        border-radius: 0px;
    }
}

@media screen and (max-width: 500px) {
    #sectionFrontPage div.boxImageFP2 {
        display: none;
    }
}

@media screen and (max-width: 320px) {
    #sectionFrontPage div.boxImageFP1 {
        width: 320px;
        margin-top: 0;
    }
    #sectionFrontPage div.boxImageFP2 {
        display: none;
    }
    #sectionFrontPage h4 {
        width: 240px;
    }
} */

/* ------------------------Section Craft------------------------ */

#sectionCraft {
    padding: 3rem;
    /* display: flex;
    justify-content: space-between; */
    background-color: #D88F82;
}

#sectionCraft h3,
#sectionCraft h4 {
    text-align: center;
}

#sectionCraft p {
    text-align: justify;
    margin: 2rem 0;
}



/* #sectionCraft div.boxImageCraft {
    width: 800px;
    margin-left: 2rem;
}

#sectionCraft div.boxImageCraft img {
    width: 100%;
    border-radius: 15px;
}

#sectionCraft div.boxTextCraft {
    width: 700px;
    margin-right: 2rem;
}

#sectionCraft h4 {
    margin: 1rem 0 2rem;
    padding-left: 2rem;
}

#sectionCraft p {
    text-align: justify;
    line-height: 2.5rem;
} */

#sectionCraft a,
#sectionCraft a:visited {
    display: block;
    text-decoration: none;
    margin: 4rem auto 0;
    color: #ffffff;
    text-align: center;
} 

/* @media screen and (max-width: 1400px) {
    #sectionCraft div.boxImageCraft {
        width: 600px;
    }
    #sectionCraft div.boxTextCraft {
        width: 500px;
    }
} */

/* @media screen and (max-width: 1024px) {
    #sectionCraft {
        padding: 3rem;
    }
    #sectionCraft div.boxImageCraft {
        width: 450px;
        display: flex;
        align-items: center;
    }
    #sectionCraft div.boxTextCraft {
        width: 380px;
    }
}

@media screen and (max-width: 600px) {
    #sectionCraft {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    #sectionCraft div.boxImageCraft {
        width: fit-content;
        margin: 0;
    }
    #sectionCraft div.boxImageCraft img {
        border-radius: 0px;
    }
    #sectionCraft div.boxTextCraft {
        width: 90%;
        margin: 2rem 0;
    }
    #sectionCraft h3, #sectionCraft h4 {
        text-align: center;
        margin: 1rem 0;
    }
    #sectionCraft p {
        text-align: justify;
        margin-top: 3rem;
    }
    #sectionCraft a {
        display: block;
        width: auto;
        text-decoration: none;
        text-align: center;
    }
} */

/* ----------------------------     Section BestSellers    ---------------- */

#sectionBestSellers {
    padding: 3rem;
    display: none;
}

/* ----------------------------     Section Delivery    ---------------- */

#sectionDelivery {
    padding: 3rem;
    background-color: white;
}

#sectionDelivery h3 {
    margin-left: 2rem;
    color: #D88F82;
}

#sectionDelivery a:visited {
    color: #ffffff;
}

#sectionDelivery div.boxTextDelivery {
    display: flex;
    flex-direction: column;
}

#sectionDelivery div.boxTextDelivery span {
    display: block;
    color: #D88F82;
}

#sectionDelivery div.buttonDelivery {
    margin: 3rem 0 3rem 0rem;
    align-self: center;
}

#sectionDelivery div.boxTextDelivery a {
    
    text-align: center;
    text-decoration: none;
}

#sectionDelivery div.boxTextDelivery span.textMoved1 {
    margin-top: 2rem;
    margin-left: 4rem;
}

#sectionDelivery div.boxTextDelivery span.textMoved2 {
    margin-top: 1rem;
    text-align: center;
}

#sectionDelivery div.boxTextDelivery span.textMoved3 {
    margin-top: 1rem;
    text-align: right;
    margin-right: 6rem;
}

#sectionDelivery div.boxTextDelivery span.textMoved4 {
    margin-top: 2rem;
    text-align: center;
}

#sectionDelivery div.boxTextDelivery span.textMoved5 {
    margin-top: 1rem;
    text-align: right;
    margin-right: 8rem;
}

#sectionDelivery div.boxTextDelivery span.textMoved6 {
    margin-top: 2rem;
    margin-left: 8rem;
}

#sectionDelivery div.boxTextDelivery span.textMoved7 {
    margin-top: 1rem;
    text-align: center;
    margin-left: 10rem;
}

#sectionDelivery div.boxImageDelivery {
    align-self: center;
}


/* @media screen and (max-width: 1024px) {
    #sectionDelivery div.boxTextDelivery {
        width: 60%;
    }
    #sectionDelivery div.boxImageDelivery {
        width: 400px;
        padding-top: 3rem;
    }
    #sectionDelivery div.boxTextDelivery span.textMoved1 {
        margin-top: 2rem;
        margin-left: 1rem;
    }
    
    #sectionDelivery div.boxTextDelivery span.textMoved2 {
        margin-top: 1rem;
        text-align: center;
    }
    
    #sectionDelivery div.boxTextDelivery span.textMoved3 {
        margin-top: 1rem;
        text-align: right;
        margin-right: 4rem;
    }
    
    #sectionDelivery div.boxTextDelivery span.textMoved4 {
        margin-top: 2rem;
        text-align: center;
    }
    
    #sectionDelivery div.boxTextDelivery span.textMoved5 {
        margin-top: 1rem;
        text-align: right;
        margin-right: 3rem;
    }
    
    #sectionDelivery div.boxTextDelivery span.textMoved6 {
        margin-top: 2rem;
        margin-left: 3.5rem;
    }
    
    #sectionDelivery div.boxTextDelivery span.textMoved7 {
        margin-top: 1rem;
        margin-left: 6rem;
    }
} */

/* @media screen and (max-width: 600px) {
    #sectionDelivery {
        width: 100%;
        padding: 3rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #sectionDelivery div.boxTextDelivery {
        width: 100%;
    }
    #sectionDelivery div.boxImageDelivery {
        width: 100%;
        padding-top: 3rem;
    }
    #sectionDelivery div.boxTextDelivery h3 {
        text-align: center;
    }
} */

/* ----------------------------     Section Contact Us    ---------------- */
#sectionContactUs {
    background-color: #175F7E;
    padding: 3rem;
}

#sectionContactUs div.boxTextContactUs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sectionContactUs div.boxTextContactUs h4 {
    text-align: center;
    margin: 0 0 1rem 0;
}

#sectionContactUs div.boxTextContactUs a {
    text-decoration: none;
    text-align: center;
    color: #175F7E;
}

#sectionContactUs div.boxTextContactUs button.buttonContactUs {
    width: 190px;
    color: #090909;
    padding: 0.5rem 0.5rem;
    font-size: 18px;
    border-radius: 0.5rem;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
    margin-top: 5rem;
}

#sectionContactUs div.boxTextContactUs button.buttonContactUs:hover {
    border: 1px solid white;
}

#sectionContactUs div.boxTextContactUs button.buttonContactUs:active {
    box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
}

#sectionContactUs div.boxImage1 {
    align-self: center;
}

/* #sectionContactUs div.boxImageContactUs {
    width: 80%;
    height: auto;
    padding: 0 0 0 2rem;
    display: grid;
    grid-template-areas:
    "boxImage1 boxImage2"
    "boxImage1 boxImage3";
    grid-template-columns: 1fr 2fr;
    gap: 15px;
} */

/* #sectionContactUs div.boxImageContactUs div.boxImage1 {
    grid-area: boxImage1;
    display: flex;
    align-items: center;
    width: auto;
} */

/* #sectionContactUs div.boxImageContactUs div.boxImage1 img {
    width: 100%;
    border-radius: 15px;
} */

/* #sectionContactUs div.boxImageContactUs div.boxImage2 {
    grid-area: boxImage2;
    width: 700px;
} */

/* #sectionContactUs div.boxImageContactUs div.boxImage2 img {
    width: 100%;
    border-radius: 15px;
} */

/* #sectionContactUs div.boxImageContactUs div.boxImage3 {
    grid-area: boxImage3;
    width: 850px;
} */

/* #sectionContactUs div.boxImageContactUs div.boxImage3 img {
    width: 100%;
    border-radius: 15px;
} */

/* @media screen and (max-width: 1400px) {
    #sectionContactUs div.boxImageContactUs div.boxImage2 {
        grid-area: boxImage2;
        width: 500px;
    }
    #sectionContactUs div.boxImageContactUs div.boxImage3 {
        grid-area: boxImage3;
        width: 600px;
    }
    #sectionContactUs div.boxTextContactUs button.buttonContactUs {
        margin-left: 4rem;
    }
} */

/* @media screen and (max-width: 1024px) {
    #sectionContactUs div.boxTextContactUs {
        width: 30%;
    }
    #sectionContactUs div.boxTextContactUs h4 {
        margin-left: 0;
        text-align: center;
    }
    #sectionContactUs div.boxImageContactUs div.boxImage2 {
        grid-area: boxImage2;
        width: 350px;
    }
    #sectionContactUs div.boxImageContactUs div.boxImage3 {
        grid-area: boxImage3;
        width: 400px;
    }
    #sectionContactUs div.boxTextContactUs button.buttonContactUs {
        margin-left: 2rem;
    }
} */

/* @media screen and (max-width: 600px) {
    #sectionContactUs {
        padding: 3rem 2rem 3rem 2rem;
        flex-direction: column;
    }
    #sectionContactUs div.boxTextContactUs{ 
        width: 100%;
    }
    #sectionContactUs div.boxTextContactUs button.buttonContactUs {
        margin-left: 30%;
        margin-bottom: 3rem;
    }
    #sectionContactUs div.boxTextContactUs h3,
    #sectionContactUs div.boxTextContactUs h4,
    #sectionContactUs div.boxTextContactUs a {
        text-align: center;
    }
    #sectionContactUs div.boxImageContactUs {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-areas:
        "boxImage1 boxImage1"
        "boxImage2 boxImage2"
        "boxImage3 boxImage3";
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto auto;
        row-gap: 15px;
        padding: 0;
        justify-content: center;
    }
    #sectionContactUs div.boxImageContactUs div.boxImage1 {
        width: 400px;
        justify-self: center;
    }
    
    #sectionContactUs div.boxImageContactUs div.boxImage1 img {
        height: 100%;
        border-radius: 0px;
    }
    #sectionContactUs div.boxImageContactUs div.boxImage2 {
        width: 100%;
        justify-self: center;
    }
    #sectionContactUs div.boxImageContactUs div.boxImage2 img {
        border-radius: 0px;
    }
    #sectionContactUs div.boxImageContactUs div.boxImage3 {
        width: 100%;
        justify-self: center;
    }
    #sectionContactUs div.boxImageContactUs div.boxImage3 img {
        border-radius: 0px;
    }
} */

/* @media screen and (max-width: 320px) {
    #sectionContactUs {
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        margin: 0%;
    }
    #sectionContactUs div.boxTextContactUs button.buttonContactUs {
        margin-left: 20%;
    }
    #sectionContactUs div.boxImageContactUs div.boxImage1 {
        width: 310px;
    }
    #sectionContactUs div.boxImageContactUs div.boxImage1 img {
        width: 100%;
    }
    #sectionContactUs div.boxImageContactUs div.boxImage2 {
        width: 310px;
    }
    #sectionContactUs div.boxImageContactUs div.boxImage2 img {
        width: 100%;
    }
    #sectionContactUs div.boxImageContactUs div.boxImage3 {
        width: 310px;
    }
    #sectionContactUs div.boxImageContactUs div.boxImage3 img {
        width: 100%;
    }
} */

/* ---------------------------------   FOOTER     ------------------- */

footer {
    background-color: #FF0000;
    padding: 3rem;
}

#footerNavBar a,
#footerNavBar a:visited {
    color: #ffffff;
    text-decoration: none;
}

#footerNavBar ul {
    display: flex;
    justify-content: space-between;
}

#footerNavBar ul li {
    list-style-type: none;
    padding: 1rem 3rem;
}

#boxFooter {
    display: flex;
    justify-content: space-between;
    padding: 3rem 3rem;
    align-items: center;
}

#boxFooter a,
#boxFooter a:visited {
    color: #ffffff;
    text-decoration: none;
}

#boxFooter div.boxTextFooter1 {
    width: 400px;
}

#boxFooter div.boxTextFooter2 {
    width: 400px;
}

#boxFooter div.boxTextFooter2 a h2 {
    text-align: center;
    margin: 0%;
}

#boxFooter div.boxTextFooter3 {
    width: 400px;
    text-align: right;
}


@media screen and (max-width: 940px) {
    #footerNavBar ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0;
    }
    #footerNavBar ul li {
        padding: 0.5rem 3rem;
    }
    #boxFooter {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #boxFooter div.boxTextFooter1 {
        width: 100%;
    }
    #boxFooter div.boxTextFooter2 {
        width: 100%;
    }
    #boxFooter div.boxTextFooter3 {
        width: 100%;
        text-align: center;
    }
    #boxFooter h2 {
        margin: 0;
        padding: 2rem 0;
    }
}

@media screen and (max-width: 320px) {
    #boxFooter {
        padding: 0.5rem 0%;
    }
    #boxFooter div.boxTextFooter1 p {
        text-align: center;
    }
    #boxFooter div.boxTextFooter3 {
        text-align: center;
    }
}


/* -----------------------------------------   PRODUCTOS.HTML   -------------------*/
/* -----------------------------------------   PRODUCTOS.HTML   -------------------*/
#mainProducts {
    padding: 4rem;
    background-color: #D88F82;
}

#mainProducts h1 {
    text-align: center;
    font-weight: bolder;
    margin-bottom: 4rem;
    margin-left: 0%;
}

#mainProducts .boxImage {
    width: 100%;
    text-align: center;
}

#mainProducts .boxImage img {
    width: 100%;
}

#mainProducts .card {
    background-color: #D88F82;
    box-shadow: 3px -7px 10px 1px rgba(0,0,0,0.75);
-webkit-box-shadow: 3px -7px 10px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 3px -7px 10px 1px rgba(0,0,0,0.75);
}





/* -----------------------------------------   HISTORIA.HTML   -------------------*/

#sectionCraft .carousel-item img  {
    max-height: 60vh;
}



/* -----------------------------------------   CONTACTO.HTML   -------------------*/
#mainContact {
    background-color: #D88F82;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#mainContact h1 {
    color: #ffffff;
    text-align: center;
    margin: 0;
}

#mainContact legend {
    text-align: right;
    margin-bottom: 1rem;
}

#mainContact form {
    border: 2px solid #ffffff;
    max-width: 768px;
    background-color: #D88F82;
    margin: 0px auto;
    padding: 3rem;
}

#mainContact input {
    line-height: normal;
}

#mainContact textarea {
    overflow: auto;
    line-height: 150%;
    height: 150px;
    resize: none;
}

#mainContact .email {
    float: right;
    width: 45%;
}

#mainContact .telephone {
    float: left;
    width: 45%;
}

#mainContact .message {
	float: none;
}

::placeholder {
    color: #ffffff;
}

#mainContact .checkbox {
    color: #ffffff;
}

#mainContact strong {
    color: #ffffff;
}

#mainContact input[type='text'],
#mainContact input[type='email'],
#mainContact input[type='tel'],
select,
textarea {
	background: #D88F82;
    border: none;
	border-bottom: solid 2px #ffffff;
	color: #ffffff;
	font-size: 1rem;
    font-weight: 400;
    letter-spacing: 1px;
	margin: 0.5rem 0 1rem 0;
	padding: 0.3rem 0 0.3rem 0;
    text-transform: uppercase;
	width: 100%;
}

#mainContact input[type='submit'], 
#mainContact input[type='reset'] {
    background: none;
    font-size: 1rem;
    border-color: #ffffff;
    border-radius: 8px;
    width: 25%;
    color: #ffffff;
    margin-top: 1rem;
}


/* ---------------------------------------- Estilos INPUT -------------------- */


/* -------------------------------------- @@@@@-420-@@@@ ------------- */
@media screen and (max-width: 420px) {
    #contact_form {
        display: flex;
        flex-direction: column;
    }
    #mainContact legend {
        text-align: center;
        margin-bottom: 1rem;
    }
    #mainContact .email {
        width: 100%;
    }
    #mainContact .telephone {
        width: 100%;
    }
}


/* ---------Aplicar estos efectos al form----------------------- */
/* From uiverse.io by @alexruix */
/* .input-group {
    position: relative;
    background-color: #FF0000;
}

.input_nano {
    border: solid 1.5px #9e9e9e;
    border-radius: 1rem;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    color: #f5f5f5;
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
}

.user-label_nano {
    position: absolute;
    left: 15px;
    color: #e8e8e8;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4,0,0.2,1);
}

.input_nano:focus, input:valid {
    outline: none;
    border: 1.5px solid #1a73e8;
}

.input_nano:focus ~ label, input:valid ~ label {
    transform: translateY(-50%) scale(0.8);
    background-color: #212121;
    padding: 0 .2em;
    color: #2196f3;
} */

/* -----------------------------------------   LOGIN.HTML   -------------------*/
/* -----------------------------------------   LOGIN.HTML   -------------------*/

div.backgroundLogin {
    background-image: url(../images/panadero.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#mainLogin {
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 100vh;
}

#mainLogin h1 {
    text-align: center;
}

#login_form legend {
    text-align: right;
    margin-bottom: 1rem;
}

#login_form {
    border: 2px solid #ffffff;
    max-width: 768px;
    margin: 0px auto;
    padding: 3rem;
}

#login_form input {
    line-height: normal;
}

#login_form .username {
    width: 45%;
    margin-bottom: 2rem;
}

#login_form .passw {
    width: 45%;
    margin-bottom: 1rem;
}

#login_form .checkbox {
    color: #ffffff;
    width: 45%;
    margin-bottom: 3rem;
}

#login_form input[type='submit'] {
    background: none;
    font-size: 1rem;
    border-color: #ffffff;
    border-radius: 8px;
    width: 50%;
    color: #ffffff;
    margin-top: 3rem;
}

#login_form input[type='email'],
#login_form input[type='password'] {
	background: border-box;
    border: none;
	border-bottom: solid 2px #ffffff;
	color: #ffffff;
	font-size: 1rem;
    font-weight: 400;
    letter-spacing: 1px;
	margin: 0.5rem 0 1rem 0;
	padding: 0.3rem 0 0.3rem 0;
    text-transform: uppercase;
	width: 100%;
}

/* -------------------------------------- @@@@@-768-@@@@ ------------- */
@media screen and (max-width: 768px) {
    #login_form {
        background-image: url(../images/panadero.png);
    }
    #login_form legend {
        text-align: center;
    }
    #login_form .username {
        width: 100%;
    }
    #login_form .passw {
        width: 100%;
    }
    #login_form .checkbox {
        width: 180px;
        text-align: center;
        margin: 0 auto;
    }
    #login_form div.submit {
        text-align: center;
    }
}

/* ----------------------------------------------------------------------- */
/*------ From uiverse.io --------------  Boton Pedir Ahora  --------------*/
div.pedirAhora {
    width: max-content;
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    touch-action: manipulation;
}
div.pedirAhora .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

div.pedirAhora .edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(to left, hsl(340deg 100% 16%) 0%, hsl(340deg 100% 32%) 8%, hsl(340deg 100% 32%) 92%, hsl(340deg 100% 16%) 100%);
}

div.pedirAhora .front {
    display: block;
    position: relative;
    padding: 8px 2px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: #ff0000;
    will-change: transform;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

div.pedirAhora:hover {
    filter: brightness(110%);
}

div.pedirAhora:hover .front {
    transform: translateY(-6px);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

div.pedirAhora:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
}

div.pedirAhora:hover .shadow {
    transform: translateY(4px);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

div.pedirAhora:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}

div.pedirAhora:focus:not(:focus-visible) {
    outline: none;
}





