@import 'stylesheets/colors.scss';
@import 'stylesheets/fonts.scss';
@import 'stylesheets/general.scss';
@import 'stylesheets/header.scss';
@import 'stylesheets/footer.scss';
@import 'stylesheets/productosPage.scss';
@import 'stylesheets/contactoPage.scss';
@import 'stylesheets/loginPage.scss';




// ------------------------   INDEX.HTML   ------------------
// ---------------------   Section FrontPage   --------------
#sectionFrontPage {
    background-color: map-get($colors, Secondary);
    padding: 2rem;
    overflow: hidden;
    h2 {
        font-size: 4rem;
        margin-left: 4rem;
    }
    h3 {
        font-size: 3rem;
        margin: 2rem 0 0 10rem;
    }
    h4 {
        margin: 2rem 0 1rem 0;
        text-align: center;
    }
}

// -------------------   MediaQuerie FrontPage --------------

@media screen and (max-width: 767px) {
    #sectionFrontPage {
        h2 {
            text-align: center;
            margin-left: 0;
        }
        h3 {
            text-align: center;
            margin-left: 0;
        }
        h4 {
            text-align: center;
            margin-left: 0;
        }
    }
}

// ---------------------   Section History  -----------------

#sectionHistory {
    padding: 0 2rem 0;
    background-color: map-get($colors, Tertiary);
    h3 {
        font-size: 3rem;
        text-align: center;
        margin-bottom: 1rem;
    }
    h4 {
        text-align: center;
        margin-bottom: 2rem;
    }
    p {
        text-align: justify;
        margin-bottom: 2rem;
    }
    .btnHistory {
        width: fit-content;
        margin: 1rem auto;
    }
}

// ---------------------   Section Delivery  -----------------

#sectionDelivery {
    padding: 2rem;
    h3 {
        font-size: 3rem;
        color: map-get($colors, Tertiary);
        text-align: center;
    }
    .boxTextDelivery {
        span {
            color: map-get($colors, Tertiary);
            display: block;
            width: fit-content;
            margin: 1rem auto;
            text-align: center;
        }
    }
    .btnDelivery {
        width: fit-content;
        margin: 2rem auto ;
    }
    .boxImageDelivery {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

// ---------------------   Section Contact-US  -----------------

#sectionContactUs {
    background-color: map-get($colors, Secondary);
    padding: 2rem;
    h4 {
        width: min-content;
        text-align: center;
        margin: 1rem auto 2rem;
    }
    .btnContactUs {
        width: fit-content;
        margin: 3rem auto;
        background-color: map-get($colors, Quaternary);
        border-radius: 8px;
        box-shadow: 6px 6px 12px #c5c5c5;
        &:hover {
            border: 1px solid white;
            box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
            transition: all 0.3s;
        }
        a {
            color: map-get($colors, Secondary);
        }
    }
    .boxImage1 {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}