// $primary-color: #ff0000;
// $secondary-color: #175F7E;
// $tertiary-color: #D88F82;
// $quaternary-color: #ffffff;

$colors: (
    Primary: #EC5766,
    // Primary: #D91E36,
    Secondary:#175F7E,
    //Tertiary:#D88F82,
    Tertiary:#EF7674,
    Quaternary:#fff
);
