// $primary-color: #ff0000;
// $secondary-color: #175F7E;
// $tertiary-color: #D88F82;
// $quaternary-color: #ffffff;

$colors: (
    Primary:#ff0000,
    Secondary:#175F7E,
    Tertiary:#D88F82,
    Quaternary:#fff
);
