footer {
    background-color: $primary-color;
    padding: 0 1rem;
    h2:hover {
        font-weight: bold;
    }
    a {
        font-size: 1.3rem;
        &:hover {
            color: $quaternary-color;
        }
    }
    #menuFooter {
        ul {
            display: flex;
            justify-content: space-between;
            li {
                padding: 1rem 1rem;
            }
        }
    }
    #boxFooter {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
        .boxTxFooter {
            width: 400px;
            p {
                margin-bottom: 0;
                font-size: 1.3rem;
            }
            h2 {
                text-align: center;
            }
        }
        .boxTxFooter3 {
            text-align: right;
        }
    }
}

// ------------------------------ MediasQuerie --------------

@media screen and (max-width: 950px) {
    footer {
        #menuFooter {
            ul {
                flex-direction: column;
                align-items: center;
                li {
                    padding: 0.5rem 1rem;
                }
            }
        }
        #boxFooter {
            flex-direction: column;
            text-align: center;
            .boxTxFooter {
                width: 90vw;
            }
            .boxTxFooter3 {
                text-align: center;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    footer {
        #menuFooter {
            ul {
                li {
                    padding: 4px 8px 0 8px;
                    a {
                        font-size: 1.2rem;
                    }
                }
            }
        }
        #boxFooter {
            h2 {
                font-size: 35px;
            }
            p {
                font-size: 1.2rem;
            }
            a {
                font-size: 1.2rem;
            }
        }
    }
}