
$sizeHeading: (
    h1: 60px,
    h2: 40px,
    h3: 40px,
    h4: 40px
);


// --- Esto deberia ponerlo en otro scss - despues veo donde lo meto
// mixin con y sin variables
@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin bgColor ($background, $colorFont) {
    background-color: $background;
    h1, h2, h3, h4, span, p {
        color: $colorFont;
    }
}

// ACA ESTOY HACIENDO PRUEBAS POR ESO ESTA COMENTADO Y NO LO BORRE
// @mixin responsive767 ($max-width, $headings) {
//     @media screen and (max-width: $max-width) {
//         h1 {
            
//         }
//     }
// }

// @mixin mobile {
//     @media screen and (min-width: 767px)  {
//         @content
//     }
// }

// header {
//     height: 120px;
//     @include mobile {
//         height: 150px;
//     }
// }