#mainProducts {
    padding: 3rem;
    background-color: map-get($colors, Quaternary);
    h1 {
        font-size: 3rem;
        text-align: center;
        margin-left: 0%;
        color: map-get($colors, Tertiary);
    }
    .nav-link {
        color: map-get($colors, Tertiary);
        &:hover {
            font-weight: bold;
        }
    }
    .nav-link.active {
        background-color: map-get($colors, Tertiary);
        color: map-get($colors, Quaternary);
    }
    .card {
        background-color: map-get($colors, Quaternary);
        box-shadow: 4px 4px 10px black;
        margin: 1rem;
        .card-title {
            color: map-get($colors, Tertiary);
            font-family: $title-font;
            font-size: 25px;
            font-weight: bolder;
            text-align: center;
        }
        .card-text {
            height: 150px;
            color: map-get($colors, Tertiary);
            font-family: $primary-font;
            font-size: 1.2rem;
            
        }
        .btn {
            background-color: map-get($colors, Tertiary);
            width: 100px;
            transition: all 0.2s;
            &:hover {
                box-shadow: 4px 4px 10px black;
            }
        }
    }
}